/* fondo general */

body{
background-color:#050014;
color:white;
font-family:Arial;
text-align:center;
}

h1{
color:#c084fc;
}

/* navegación */

nav{
background:#020617;
padding:15px;
box-shadow:0 2px 10px black;
position:fixed;
top:0;
width:100%;
}

nav a{
color:#c084fc;
margin:10px;
text-decoration:none;
}

nav a{
color:#c084fc;
margin:15px;
text-decoration:none;
font-weight:bold;
font-size:18px;
}

nav a:hover{
color:#22c55e;
text-shadow:0 0 10px #22c55e;
}

/* SECCIÓN JUEGOS GRID (tipo Steam) */

#juegos{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
max-width:1200px;
margin:auto;
padding:40px;
}

/* tarjetas de juegos */

.juego{
background:#111827;
margin:30px auto;
padding:20px;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,0.5);
max-width:600px;
transition:0.3s;
cursor:pointer;
}

.juego:hover{
transform:translateY(-10px) scale(1.03);
transition:0.3s;
}

.card img{
width:100%;
height:auto;
max-height:250px;
object-fit:cover;
border-radius:10px;
}

.juego img{
width:100%;
height:180px;
object-fit:cover;
border-radius:10px;
margin-bottom:10px;
}

/* títulos de juegos estilo Steam */

.juego h2{
color:#a855f7;
font-size:22px;
}

/* imágenes generales */

img{
max-width:100%;
height:auto;
border-radius:10px;
}

img{
width:100%;
height:250px;
object-fit:cover;
}

/* hero */

.hero{
height:80vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
background:linear-gradient(135deg,#14002b,#2b0a4d,#3b0764);
color:white;
padding:40px;
}

.hero h1{
font-size:48px;
margin-bottom:20px;
color:#c084fc;
text-shadow:0 0 15px #a855f7;
}

.hero p{
font-size:18px;
max-width:700px;
margin:auto;
margin-bottom:15px;
}

.btn{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#a855f7;
color:white;
text-decoration:none;
border-radius:8px;
font-weight:bold;
}

.btn:hover{
background:#9333ea;
}

/* secciones */

section{
margin-bottom:60px;
}

h2{
color:#c084fc;
margin-top:40px;
}
.juego{
text-decoration:none;
color:white;
display:block;
}
