body{
background-color:#0f172a;
color:white;
font-family:Arial;
text-align:center;
}

h1{
color:#38bdf8;
}

nav a{
color:#38bdf8;
margin:10px;
text-decoration:none;
}
.juego{
background:#1e293b;
margin:20px;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px #000;
}
.juego:hover{
transform:scale(1.05);
transition:0.3s;
}
.card img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.juego img{
  width:100%;
  max-height:250px;
  object-fit:cover;
  border-radius:10px;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* opcional */
}
.hero{
  height:80vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color:white;
  padding:40px;
}

.hero h1{
  font-size:48px;
  margin-bottom:20px;
}

.hero p{
  font-size:18px;
  max-width:700px;
  margin:auto;
  margin-bottom:15px;
}

.btn{
  display:inline-block;
  margin-top:20px;
  padding:12px 25px;
  background:#00ffcc;
  color:black;
  text-decoration:none;
  border-radius:8px;
  font-weight:bold;
}
.hero{
  height:80vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color:white;
  padding:40px;
}

.hero h1{
  font-size:48px;
  margin-bottom:20px;
}

.hero p{
  font-size:18px;
  max-width:700px;
  margin:auto;
  margin-bottom:15px;
}

.btn{
  display:inline-block;
  margin-top:20px;
  padding:12px 25px;
  background:#00ffcc;
  color:black;
  text-decoration:none;
  border-radius:8px;
  font-weight:bold;
}
.hero{
  height:80vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color:white;
  padding:40px;
}

.hero h1{
  font-size:48px;
  margin-bottom:20px;
}

.hero p{
  font-size:18px;
  max-width:700px;
  margin:auto;
  margin-bottom:15px;
}

.btn{
  display:inline-block;
  margin-top:20px;
  padding:12px 25px;
  background:#00ffcc;
  color:black;
  text-decoration:none;
  border-radius:8px;
  font-weight:bold;
}

.btn:hover{
  background:#00cc99;
  }
nav{
background:#020617;
padding:15px;
box-shadow:0 2px 10px black;
}

nav a{
color:#38bdf8;
margin:15px;
text-decoration:none;
font-weight:bold;
font-size:18px;
}

nav a:hover{
color:#22c55e;
}
